<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registration_Appication.Properties.Settings.AttendanceConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Attendance.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>